<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <p>
        원본 이미지<br/>
        <img src="{{orifile}}"/>
    </p>
    <p>
        변환된 이미지<br/>
        <img src="{{chfile}}"/>
    </p>
    <p>
        확대된 이미지<br/>
        <img src="{{exfile}}"/>
    </p>
    <p>
        축소된 이미지<br/>
        <img src="{{shfile}}"/>
    </p>
    <p>
        이동된 이미지<br/>
        <img src="{{mfile}}"/>
    </p>
    <p>
        회전된 이미지<br/>
        <img src="{{anfile}}"/>
    </p>
    <a href="/">index.html</a>
</body>
</html>