<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="container">
      <div><h1>내가 잡은 물고기는 도미? 빙어?</h1></div>
      <div><h2>정답은? {{prevalue}} 입니다. </h2></div>
      <div>
          길이를 입력하세요
          <form action="">
              길이<input type="text" name="length"><br>
              무게<input type="text" name="weight"><br>
              <input type="submit" value="확인">
          </form>
      </div>
      <div class="row">
        <img src="{{brimg}}"><br>
      </div>
  </div>
</body>
</html>